*{
    list-style-type: none;
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Roboto", "Arial", sans-serif;
    height: auto;

}

@font-face {
    font-family: "Roboto";
    font-weight: 400;
    src:
    url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"),
    url("../fonts/roboto-v30-latin-regular.woff") format("woff"); 
  }
  @font-face {
    font-family: "Roboto";
    font-weight: 500;
    src: local(''),
         url("../fonts/roboto-v30-latin-500.woff2") format("woff2"),
         url("../fonts/roboto-v30-latin-500.woff") format("woff"); 
  }
  @font-face {
    font-family: "Roboto";
    font-weight: 700;
    src: 
         url("../fonts/roboto-v30-latin-700.woff2") format("woff2"),
         url("../fonts/roboto-v30-latin-700.woff") format("woff");
  }

header{
    margin-right: auto;
    margin-left: auto;
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    width: 1340px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.header-inner{
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.logo {
    display: inline-block;
}
.logo-img {
    display: block;
}
.header-list {
    margin: 0;
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-left: 0;
}
.header-item {
    padding-left: 40px;
}
.header-link {
    display: inline-block;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #333333;
}

.hero-section {
    margin-right: auto;
    margin-left: auto;
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}   
.hero-inner {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}
.hero-left {
    width: 470px;
    padding-top: 130px;
    margin-left: 100px;
}
.hero-heading {
    margin-top: 0;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #000000;
}
.hero-title {
    margin-top: 0;
    margin-bottom: 34px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.hero-link {
    padding: 16px 24px;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 1px;
    font-variant: small-caps;
    background-color: #0A775F;
    color: #FFFFFF;
    border-radius: 100px;
}
.hero-right {
    position: relative;
    right: -20px;
    bottom: -5px;
}

.hero-right::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 160px;
    height: 160px;
    background-image: url("../images/first.svg");
    background-repeat: no-repeat;
    background-size: contain;
    transform: translate(-50%, -40%);
}

main {
    flex-grow: 1;
}
.collection {
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.collection-heading {
    margin-top: 0;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    font-variant: small-caps;
    color: #000000;
}
.collection-list {
    width: 1110px;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
}
.collection-item {
    position: relative;
    display: flex;
    align-items: center;
}
.collection-item:nth-child(2n) {
    flex-direction: row-reverse;
}
.collection-item::before {
    content: "";
    display: inline-block;
    width: 450px;
    height: 375px;
    margin-right: 110px;
    background-image: url("../images/danche.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.collection-item:first-child::after {
    position: absolute;
    top: -150px;
    left: -340px;
    content: "";
    display: inline-block;
    width: 450px;
    height: 375px;
    margin-right: 110px;
    background-image: url("../images/list.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.collection-item:nth-child(3)::after {
    position: absolute;
    top: -150px;
    right: -500px;
    content: "";
    display: inline-block;
    width: 450px;
    height: 375px;
    margin-right: 110px;
    background-image: url("../images/Fill.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.collection-item:nth-child(4)::after {
    position: absolute;
    top: -150px;
    left: -370px;
    content: "";
    display: inline-block;
    width: 450px;
    height: 375px;
    margin-right: 110px;
    background-image: url("../images/Vector.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.collection-item-inner {
    width: 450px;
}
.collection-item-head {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 56px;
    font-variant: small-caps;
    color: #333333;
}
.collection-item-title {
    margin-top: 0;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    color: #333333;
}

.choose {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
    background-image: url("../images/bg.choose.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section-top {
    width: 580px;
    padding-bottom: 300px;
    margin-top: 0;
    margin-bottom: 0;
}
.choose-top-heading {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.choose-top-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.8;
}
.choose-list {
    position: relative;
    top: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 0;
    width: 100%;
}
.choose-list-item {
    width: 420px;
    background-color: #fff;
}
.choose-list-item:nth-child(2) {
    margin-right: 20px;
    margin-left: 20px;
}
.choose-list-item:nth-child(1)::before {
    margin-bottom: 0;
    position: absolute;
    top: -480px;
    content: "";
    display: inline-block;
    width: 420px;
    height: 500px;
    background-image: url("../images/best.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.choose-list-item:nth-child(1)::after {
    margin-bottom: 0;
    position: absolute;
    top: -530px;
    left: -40px;
    content: "";
    display: inline-block;
    width: 144px;
    height: 144px;
    background-image: url("../images/decor.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.choose-list-item:nth-child(2)::before {
    margin-bottom: 0;
    position: absolute;
    top: -480px;
    content: "";
    display: inline-block;
    width: 420px;
    height: 500px;
    background-image: url("../images/exclusive.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.choose-list-item:nth-child(3)::before {
    margin-bottom: 0;
    position: absolute;
    top: -480px;
    content: "";
    display: inline-block;
    width: 420px;
    height: 500px;
    background-image: url("../images/shipping.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.choose-item-heading {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    font-variant: small-caps;
    text-transform: uppercase;
    color: #333333;
}
.choose-item-title {
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #333333;
}


.work {
    margin-top: 300px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
}
.work-inner {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url("../images/works.bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.section-work-top {
    width: 580px;
    padding-bottom: 300px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    padding-bottom: 60px;
}
.section-work-top-heading {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.deshshed {
    margin-top: 80px;
    display: inline-block;
    width: 1300px;
    height: 2px;
    background-image: url("../images/deshshed.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.section-work-list {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    padding-left: 0;
}
.section-work-item {
    position: relative;
    width: 405px;
    padding: 40px 20px;
    background-color: #fff;
}
.section-work-item::before {
    position: absolute;
    top: -90px;
    left: 0;
    content: "";
    width: 60px;
    height: 60px;
    background-color: #fff;
    border: 4px solid #C99B67;
}
.section-work-item:nth-child(2) {
    margin-right: 20px;
    margin-left: 20px;
}
.section-work-item:nth-child(3)::after {
    position: absolute;
    top: -270px;
    right: 20px;
    content: "";
    display: inline-block;
    width: 192px;
    height: 192px;
    background-image: url("../images/butice.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.section-work-item-number {
    display: block;
    font-weight: 400;
    font-size: 64px;
    line-height: 75px;
    font-variant: small-caps;
    text-align: right;
    color: #333333;
    opacity: 0.8;
}
.section-work-item-heading {
    margin-bottom: 0;
    padding-right: 50px;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    font-variant: small-caps;
    color: #333333;
}
.section-work-item-title {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: #333333;
}
.create-link-box {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.create {
    display: inline-block;
    padding: 16px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-variant: small-caps;
    background-color: #C99B67;
    color: #FFFFFF;
    border-radius: 100px;
}

/* about us  */
.about-hero-left {
    width: 370px;
    margin-left: 150px;
}
.commitment {
    margin-top: 20px;
    padding-top: 180px;
    padding-bottom: 200px;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.commitment-right-box {
    width: 625px;
}
.commitment-right {
    padding: 0;
    display: flex;

}
.commitment-right::before {
    margin-right: 185px;
    content: "";
    display: inline-block;
    width: 360px;
    height: 360px;
    background-image: url("../images/cup.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.commitment-heading {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    font-variant: small-caps;
    text-transform: uppercase;
    color: #000000;
}
.commitment-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #333333;
}

.uncompromissing {
    margin-top: 160px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url("../images/bg.choose.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.uncompromissing-inner {
    display: flex;
    align-items: center;
}
.uncompromissing-left {
    width: 840px;
    margin-left: 130px;
}
.uncompromissing-heading {
    margin-top: 0;
    font-weight: 700;
    font-size: 50px;
    line-height: 70px;
    text-transform: uppercase;
    font-variant: small-caps;
    color: #FFFFFF;
}
.uncompromissing-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    opacity: 0.8;
}
.uncompromissing-right {
    position: relative;
    top: -80px;
}

.headquarters {
    margin-top: 20px;
}
.headquarters-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 80px 20px 20px 20px;
    width: 410px;
    background-color: #fff;
}
.headquarters-item::before {
    position: absolute;
    top: 40px;
    right: 40px;
}
.headquarters-item:nth-child(2) {
    margin-right: 20px;
    margin-left: 20px;
}
.headquarters-item:nth-child(1)::before {
    content: "";
    display: inline-block;
    width: 110px;
    height: 145px;
    background-image: url("../images/uk.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.headquarters-item:nth-child(2)::before {
    content: "";
    display: inline-block;
    width: 110px;
    height: 145px;
    background-image: url("../images/canada.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.headquarters-item:nth-child(3)::before {
    content: "";
    display: inline-block;
    width: 110px;
    height: 145px;
    background-image: url("../images/australia.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.headquarters-title {
    margin-top: 0;
    margin-bottom: 0;
}
.headquarters-item-link {
    text-decoration: none;
}
/* footer  */

footer{
    margin-right: auto;
    margin-left: auto;
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-inner{
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.logo {
    display: inline-block;
}
.logo-img {
    display: block;
}
.footer-list {
    margin: 0;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
}
.footer-item {
    padding-left: 40px;
}
.footer-link {
    display: inline-block;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #333333;
}


.footer-nav-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 0;
}
.footer-nav-item {
    margin-right: 20px;
}


/* modal  */
.modal-box {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: #00000066;
}
.modal-window {
    margin-right: auto;
    margin-left: auto;
    margin-top: 70px;
    width: 560px;
    background-color: #F8F8F2;
}
.modal-window-top {
    background-color: #C99B67;
    padding: 20px 30px;
}
.modal-top-heading {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 44px;
    line-height: 52px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.modal-window-middle {
    padding-left: 30px;
    padding-right: 30px;
}
.modal-window-middle-heading {
    margin-top: 50px;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    font-variant: small-caps;
    color: #000000;
}
.modal-winder-title {
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #333333;
}
.modal-bottom {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}
.price {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;    
}
.check-out {
    padding: 16px 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #0A775F;
    color: #FFFFFF;
    border: none;
    border-radius: 100px;
}

.modal-close {
    display: block;
}

.hidden {
    overflow: hidden;
}
